<MultiCommentSelectorSetting>
    <ServerSetting>
        <MessageQueue>
            <MaxLength>10</MaxLength>
            <CurrentLength>3</CurrentLength>
        </MessageQueue>
    </ServerSetting>
    <IpcChannelName>BouyomiChan</IpcChannelName>
    <BouyomiChanLocations>
        <BouyomiChanA>C:\Users\test\Downloads\BouyomiChan_0_1_11_0_Beta21</BouyomiChanA>
        <BouyomiChanB>C:\Users\test\Downloads\BouyomiChan_0_1_11_0_Beta21_(1)</BouyomiChanB>
    </BouyomiChanLocations>
</MultiCommentSelectorSetting>
